
crowdcost/.idea/.name

*.iml

crowdcost/.idea/encodings.xml

crowdcost/.idea/jsLibraryMappings.xml

crowdcost/.idea/misc.xml

crowdcost/.idea/modules.xml

crowdcost/.idea/scopes/scope_settings.xml

crowdcost/.idea/vcs.xml

crowdcost/.idea/workspace.xml
