

crowdcost/.idea/.name

*.iml

crowdcost/.idea/encodings.xml

crowdcost/.idea/jsLibraryMappings.xml

crowdcost/.idea/misc.xml

crowdcost/.idea/modules.xml

crowdcost/.idea/scopes/scope_settings.xml

crowdcost/.idea/vcs.xml

crowdcost/.idea/workspace.xml
.idea/*
.idea/vcs.xml

.idea/crowdwallet.iml

.idea/crowdwallet.iml

*.iml

.idea/crowdwallet.iml

.idea/encodings.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/crowdwallet.iml

*.iml


