.idea/*
.idea/vcs.xml

.idea/crowdwallet.iml

.idea/crowdwallet.iml

*.iml

.idea/crowdwallet.iml

.idea/encodings.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/crowdwallet.iml

*.iml

.idea/crowdwallet.iml
